<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mensajes</title>
</head>
<body>
    <h2>Mensajes recibidos</h2>
    <ul>
        {% for mensaje in mensajes %}
        <li><strong>{{ mensaje.nombre }}</strong>: {{ mensaje.mensaje }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}" class="btn-volver">Cerrar sesión</a>
    <a href="{{ url_for('index') }}" class="btn-volver">Volver al inicio</a>

    <footer>
        <p>&copy; 2024 - Mi Portafolio Espacial</p>
    </footer>
    
</body>
</html>
