@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712; /* Tailwind gray-950 */
  --foreground: #f9fafb; /* Tailwind gray-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
