/* static/css/style.css */

/* Estilos generales */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #4a90e2;
}

.container {
    max-width: 600px;
    max-height: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container2 {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Centrando el cuadro de carga */
#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading-text {
    margin-top: 10px;
}

/* Barra de progreso moderna */
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar-fill {
    height: 20px;
    width: 0%;
    background-color: #4a90e2;
    border-radius: 20px;
    transition: width 0.4s ease-in-out;
}

/* Estilos para el dashboard */
.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 57px;
    margin-top: 20px;
}

.chart-container {
    width: 100%;
}

.chart-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón */
input[type="file"] {
    display: block;
    margin: 20px auto;
    font-size: 16px;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ab7;
}
